name: Deploy to GitHub Pages

on:
  push:
    branches: 'main' # or whichever branch you want to deploy from
  workflow_dispatch: # Allow manual triggering

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Generate parquet files
        run: |
          npm run sources
          npm run flatten
        env:
          # Add your ClickHouse credentials here if needed
          # EVIDENCE_SOURCE__business_intelligence__url: ${{ secrets.EVIDENCE_SOURCE__BUSINESS_INTELLIGENCE__URL }}
          # EVIDENCE_SOURCE__business_intelligence__username: ${{ secrets.EVIDENCE_SOURCE__BUSINESS_INTELLIGENCE__USERNAME }}
          # EVIDENCE_SOURCE__business_intelligence__password: ${{ secrets.EVIDENCE_SOURCE__BUSINESS_INTELLIGENCE__PASSWORD }}

      - name: Build
        env:
          BASE_PATH: '/aibi' # Replace with your repository name
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/aibi' # Replace with your repository name

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
